body{

font-family:Segoe UI;

margin:0;

background:#f1f5f9;

}



.header{

display:flex;

justify-content:space-between;

align-items:center;

background:#111827;

color:white;

padding:15px 30px;

}



.logout{

background:#ef4444;

border:none;

color:white;

padding:8px 15px;

border-radius:6px;

cursor:pointer;

}



.navbar{

background:#1f2937;

padding:12px 30px;

}



.navbar a{

color:white;

text-decoration:none;

margin-right:20px;

}



.container{

display:flex;

gap:25px;

padding:30px;

}



.card{

flex:1;

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,0.08);

}



.task{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

border-bottom:1px solid #eee;

}



.desc{

color:gray;

font-size:14px;

}



.badge{

display:inline-block;

padding:4px 10px;

border-radius:20px;

font-size:13px;

font-weight:bold;

}



.todo{

background:#dbeafe;

color:#1d4ed8;

}



.progress{

background:#fef3c7;

color:#b45309;

}



.done{

background:#d1fae5;

color:#065f46;

}



.delete{

background:#ef4444;

border:none;

color:white;

padding:7px 12px;

border-radius:6px;

cursor:pointer;

}



.create{

background:#2563eb;

border:none;

color:white;

padding:10px;

width:100%;

border-radius:7px;

margin-top:10px;

cursor:pointer;

}



button:hover{

opacity:0.85;

}



input,select{

width:100%;

padding:9px;

margin:8px 0 15px;

border-radius:6px;

border:1px solid #ccc;

}



#error{

color:red;

}



#emptyMessage{

color:gray;

text-align:center;

}



footer{

text-align:center;

padding:15px;

background:#111827;

color:white;

margin-top:20px;

}



@media(max-width:900px){

.container{

flex-direction:column;

}

}
